[Unit]
Description=Celery Service for CTRL A IT HUB
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/ctrl_a_it_hub
EnvironmentFile=/var/www/ctrl_a_it_hub/.env
ExecStart=/var/www/ctrl_a_it_hub/venv/bin/celery -A ctrla_hub worker -l info
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

